<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>local-build</id>
            <activation>
                <property>
                    <name>!env.JENKINS_BUILD</name>
                </property>
            </activation>
            <properties>
                <sonar.host.url>http://localhost:9000</sonar.host.url>
                <sonar.login>admin</sonar.login>
                <sonar.password>admin</sonar.password>
                <nexusUrl>https://nexus.dasaexp.io</nexusUrl>
            </properties>
            <repositories>
                <repository>
                    <id>nexus</id>
                    <url>https://nexus.dasaexp.io/repository/maven-public/</url>
                </repository>
                <repository>
                    <id>ap-common</id>
                    <url>https://nexus.dasaexp.io/repository/ap-commons</url>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>jenkins-build</id>
            <activation>
                <property>
                    <name>env.JENKINS_BUILD</name>
                </property>
            </activation>
            <properties>
                <sonar.host.url>${env.SONAR_URL}</sonar.host.url>
                <sonar.login>${env.SONAR_TOKEN}</sonar.login>
                <nexusUrl>https://nexus-external.dasaexp.io</nexusUrl>
            </properties>
            <repositories>
                <repository>
                    <id>nexus</id>
                    <url>https://nexus.dasaexp.io/repository/maven-public/</url>
                </repository>
                <repository>
                    <id>ap-common</id>
                    <url>https://nexus.dasaexp.io/repository/ap-commons</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

</settings>